.App {
    text-align: center;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/348/422/333/cat-4k-hd-wallpaper-preview.jpg);
    backdrop-filter: blur(1px);
}

h2 {
        font-weight: bold;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000000;
    }
